.signup-form-container {
    position: relative;
    padding: 20px;
}
.modal-header {
    margin-top: 10px;
    padding: 1px;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    border-radius: 5px;
    line-height: 5px;
}
button.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    padding: 1px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    line-height: 5px;
}
.signup-form label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    gap: 15px;
    color: navy;
    font-weight: 900;
    font-size: 18px;
}
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-height: 50vh;
    overflow-y: auto;
    padding: 0 1rem;
    /* Fancy scrollbar for webkit browsers */
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: #4CAF50;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: navy;
    }
}

.signup-form input:focus {
    border-color: rgb(0, 0, 0);
    outline: none;
}

.signup-form button {
    background-color: rgb(230, 30, 77);
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-family: inherit;
    transition: all 0.2s ease;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    line-height: 10px;
}

.signup-form button:hover:not(.disabled) {
    background-color: rgb(180, 30, 77);
}

.signup-form button.disabled {
    background-color: rgb(235, 235, 235);
    color: navy;
    cursor: not-allowed;
}

.signup-form button.disabled:hover {
    background-color: #cccccc;
}

.error-list {
    color: rgb(230, 30, 77);
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    }