.login-form-container {
    position: relative;
    padding: 20px;
}
.modal-header {
    margin-top: 10px;
    padding: 1px;
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    border-radius: 5px;
    line-height: 5px;
}

.close-button {
    position: absolute;
    right: 10px; 
    top: 10px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    min-width: 20px;
    max-width: 25px;
   
}

.login-form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: navy;
    font-weight: 900;
    font-size: 18px;
}

.login-form input:focus {
    border-color: rgb(0, 0, 0);
    outline: none;
}

/* Buttons */
.login-form button {
    background-color: rgb(230, 30, 77);
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-family: inherit;
    transition: all 0.2s ease;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    line-height: 10px;
}

.login-form button:hover:not(.disabled) {
    background-color: rgb(180, 30, 77);
}

.login-form button.disabled {
    background-color: rgb(235, 235, 235);
    color: navy;
    cursor: not-allowed;
}

.login-form button.disabled:hover {
    background-color: #cccccc;
}

.login-form .demo-button {
    background-color: white;
    color: rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34);
    margin-top: 16px;
}

.login-form .demo-button:hover {
    background-color: rgb(247, 247, 247);
}

/* Error Messages */
.error-list {
    color: rgb(230, 30, 77);
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}